/clembot/config/config_template.py
/data/guilddict
/database/clembot_db
*.pyc
.idea/Clembot.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.log
data/guilddict_backup
clembot/core/game_master.py
