/clembot/config/config_template.py
/data/guilddict
/database/clembot_db
*.pyc
.idea/Clembot.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.log
data/guilddict_backup
clembot/core/game_master.py
.idea/dbnavigator.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
clembot/exts/unused/__init__.py
clembot/exts/unused/combine_csv.py
clembot/exts/unused/curls-backup.py
clembot/exts/unused/curls.py
clembot/exts/unused/game_master.py
clembot/exts/unused/myiv.csv
clembot/exts/unused/myivscanner.py
clembot/exts/unused/new_curls.py
clembot/exts/unused/test_file.py
clembot/utilities/__init__.py
clembot/utilities/__main__.py
data/GAME_MASTER.json
data/pvp_iv_spread.json
data/pvp_iv_spread_ultra.json
data/raid_info.json
clembot/exts/gamemaster/__init__.py
clembot/exts/gamemaster/game_master.py
